plotter Xerox8830
button_name Xerox8830(ENG & TM 2nd after Version up use)
button_help   Xerox8830(ENG & TM 2nd after Version up use)
plot_drawing_format YES default
plot_segmented NO default
plot_roll_media NO default
plot_handshake NO default
plot_label NO default
create_separate_files NO default
plot_with_panzoom NO default
rotate_plotting NO default
allow_file_naming YES
plot_name YES
interface_quality 0 default
plot_destination file_and_printer default
plotter_command lpr -S10.92.1.222 -Praw
pen_table_file d:\wf20\pro_stds\plotters\xerox8830.pnt
plot_sheets current default
plot_clip NO default
plot_area NO default
